
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/vk.css' %}">
</head>
<body>
<div class="contener-authorization">
    <h2>Betta</h2>
<form action="{% url 'login'%}" method="post">
    {%csrf_token%}
    <div><input name="login" type="text" placeholder="логин" ></div>
    <div><input  name="password" type="password" placeholder="пароль"></div>
    <input type="submit" value="Войти">
    <a href="{% url 'register'%}"><h3>регистрация</h3></a>
    {% if error%}
    {{error}}
    {%endif%}
</form>
</div>
</body>
</html>
